.normal
{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;

    img
    {
        width: 100%;

        transition: .2s;
    }
}
  
.small
{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;

    img
    {
        width: 80%;

        transition: .2s;
    }
}