.ContApresentacao {
  background: #161216;

  .ApresentacaoHeader {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    background: linear-gradient(180deg, #161216 0%, rgba(22, 18, 22, 0) 100%);
  }

  button {
    color: #fff;
    font-size: 24px;

    display: inline-flex;
    height: 60px;
    padding: 22px 64px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg, #2ba8e2 0%, #1af5eb 100%);
    box-shadow: 0px 0px 20px 0px rgba(27, 244, 235, 0.2);

    transition: 0.2s;

    cursor: pointer;

    @media only screen and (max-width: 600px) {
      font-size: 18px;

      padding: 20px 40px;
    }

    &:hover {
      border-radius: 0px;
    }
  }

  a {
    text-decoration: none;
  }

  .ApresentacaoMergulho {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    overflow: hidden;

    position: relative;

    z-index: 9;

    .Headline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      margin-top: 40px;

      h1 {
        width: 700px;

        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 90.791%; /* 66.354px */

        background: radial-gradient(
          52.39% 371.74% at 50% 7.39%,
          #fff 0%,
          #999 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        z-index: 1;

        @media only screen and (max-width: 600px) {
          width: 90%;

          margin-top: 90px;

          font-size: 30px;
        }
      }

      p {
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.791%; /* 18.958px */

        background: radial-gradient(
          52.39% 371.74% at 50% 7.39%,
          #fff 0%,
          #999 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        z-index: 1;

        @media only screen and (max-width: 600px) {
          width: 70%;
        }
      }
    }

    .HeroMascote {
      width: 30%;
      height: 400px;

      display: flex;
      justify-content: center;
      align-items: start;

      z-index: -1;

      @media only screen and (max-width: 600px) {
        width: 70%;
      }

      img {
        width: 150%;

        position: relative;
        bottom: 160px;

        @media only screen and (max-width: 600px) {
          bottom: initial;
        }
      }
    }
  }

  .ApresentacaoOqueRola {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 100px;

    padding: 150px 0px 0px 0px;

    height: 100vh;

    position: relative;

    overflow: hidden;

    .Headline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      h1 {
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: 90.791%; /* 66.354px */

        background: radial-gradient(
          52.39% 371.74% at 50% 7.39%,
          #fff 0%,
          #999 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        z-index: 1;

        @media only screen and (max-width: 600px) {
          width: 90%;

          font-size: 30px;
        }
      }

      p {
        width: 860px;

        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.791%; /* 18.958px */

        background: radial-gradient(
          52.39% 371.74% at 50% 7.39%,
          #fff 0%,
          #999 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        z-index: 1;

        @media only screen and (max-width: 600px) {
          width: 80%;
          font-size: 14px;
        }
      }
    }

    .BotoesCont {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 5%;
        width: 90%;
        height: 310px;
        padding: 30% 0;
        transform: translate(0, -70%) rotate(-45deg);
        background: radial-gradient(
          circle at left bottom,
          #f314fb 00%,
          #161216 50%
        );
        filter: blur(40px);

        @media only screen and (max-width: 600px) {
          width: 60%;
          height: 250px;

          left: 0;
        }
      }

      .BotoesBox {
        display: flex;
        padding: 30px 30px 0px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-top: 1px solid #f314fb;
        border-left: 1px solid #f314fb;
        border-right: 1px solid #f314fb;

        border-radius: 30px 30px 0px 0px;

        background: rgba(255, 255, 255, 0.02);
        box-shadow: 0px 0px 100px 0px rgba(243, 20, 251, 0.1);

        position: relative;

        z-index: 1;

        @media only screen and (max-width: 600px) {
          padding: 10px 10px 0px 10px;
        }

        .BotoesRotate {
          display: flex;
          padding: 40px 40px 50px 40px;
          align-items: center;
          gap: 221px;

          border-radius: 20px 20px 0px 0px;
          background: #161216;

          @media only screen and (max-width: 600px) {
            width: 340px;

            padding: 20px 0px;

            flex-direction: column;

            gap: 50px;
          }

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 30px;

            @media only screen and (max-width: 600px) {
              flex-direction: row;
              gap: 20px;
            }

            li {
              @media only screen and (max-width: 600px) {
                display: flex;
                justify-content: center;
                align-content: center;
              }

              label {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                position: relative;

                @media only screen and (max-width: 600px) {
                  flex-direction: column;

                  width: 60px;
                }

                cursor: pointer;

                h3 {
                  color: #fff;
                  leading-trim: both;
                  text-edge: cap;
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 94.791%;

                  @media only screen and (max-width: 600px) {
                    font-size: 14px;

                    text-align: center;

                    width: 110%;
                  }
                }

                input {
                  position: absolute;
                  top: 0;
                  left: 0;

                  opacity: 0;
                }

                .BotaoIcone {
                  width: 80px;
                  height: 60px;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  border: solid #3b2544 1px;
                  border-radius: 10px;

                  @media only screen and (max-width: 600px) {
                    width: 60px;
                    height: 45px;
                  }
                }
              }

              .selecionado {
                .BotaoIcone {
                  background: #6a0dad;
                }

                font-weight: bold;
              }
            }
          }

          .FilmeAleatorio,
          .Filtros,
          .AvalieDoSeuJeito,
          .SeusDados {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;

            @media only screen and (max-width: 600px) {
              width: 80%;
            }

            h2 {
              width: 475px;

              color: #fff;
              text-align: center;
              leading-trim: both;
              text-edge: cap;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 94.791%; /* 15.167px */

              span {
                font-weight: bold;
                color: #1af5eb;
              }

              @media only screen and (max-width: 600px) {
                width: 80%;

                font-size: 14px;
              }
            }

            .BoxMascote {
              width: 280px;

              img {
                width: 100%;
              }

              @media only screen and (max-width: 600px) {
                width: 200px;
              }
            }

            .BotaoApresentacao {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;

              p {
                font-size: 16px;
                color: #ffffff;

                @media only screen and (max-width: 600px) {
                  font-size: 14px;
                  text-align: center;

                  width: 190px;
                }
              }
            }
          }
        }
      }
    }

    .Particulas {
      position: absolute;
      top: 0;

      width: 100%;

      display: flex;
      justify-content: center;

      img {
        width: 890px;
        height: 1085px;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .ApresentacaoPorQueCameo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;

    overflow: hidden;

    border-top: solid 1px #1af5eb;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(243, 20, 251, 0.1) 0%,
      rgba(243, 20, 251, 0) 100%
    );

    padding: 100px 0px;

    .BotoesCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;

      position: relative;

      width: 80%;

      @media only screen and (max-width: 600px) {
        flex-direction: column;

        width: 85%;
      }

      .BoxInformacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 50px;

        .Headline {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 20px;

          h1 {
            width: 655px;

            text-align: left;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 90.791%; /* 66.354px */

            background: radial-gradient(
              52.39% 371.74% at 50% 7.39%,
              #fff 0%,
              #999 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            z-index: 1;

            @media only screen and (max-width: 600px) {
              width: 100%;
              font-size: 28px;
            }
          }

          p {
            text-align: left;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 119.791%; /* 18.958px */

            background: radial-gradient(
              52.39% 371.74% at 50% 7.39%,
              #fff 0%,
              #999 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            z-index: 1;

            @media only screen and (max-width: 600px) {
              width: 80%;
              font-size: 14px;
            }
          }
        }

        ul {
          @media only screen and (max-width: 600px) {
            width: 100%;
          }
          li {
            @media only screen and (max-width: 600px) {
              .Ilustracao {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;

                .FilmeAleatorio {
                  width: 80%;

                  margin: 50px 0px;
                }
              }
            }

            label {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
              gap: 10px;

              padding: 20px 0px;

              opacity: 0.5;

              transition: 0.2s;

              border-bottom: solid 1px #3b2544;

              cursor: pointer;

              position: relative;

              &:hover {
                opacity: 1;
              }

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -100px;
                width: 16px;
                height: 1px;

                background: #1af5eb;

                @media only screen and (max-width: 600px) {
                  right: 0px;
                }
              }

              input {
                opacity: 0;

                position: absolute;
              }

              .tituloBotao {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 20px;

                h3 {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 20px;

                  @media only screen and (max-width: 600px) {
                    font-size: 14px;
                  }
                }
              }

              .descricaoBotao {
                p {
                  color: #ffffff;
                  font-weight: 200;
                  font-size: 20px;

                  width: 510px;

                  opacity: 0.5;

                  @media only screen and (max-width: 600px) {
                    font-size: 14px;

                    width: 250px;
                  }
                }
              }
            }

            .selecionado {
              opacity: 1;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -100px;
                width: 16px;
                height: 1px;

                background: #1af5eb;

                transform: rotate(180deg);

                transition: 0.2s;

                @media only screen and (max-width: 600px) {
                  right: 0px;
                }
              }
            }

            .naoselecionado {
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -100px;
                width: 16px;
                height: 1px;

                background: #1af5eb;

                transform: rotate(90deg);

                transition: 0.2s;

                @media only screen and (max-width: 600px) {
                  right: 0px;
                }
              }
            }
          }

          .botao {
            margin-top: 30px;

            button {
              @media only screen and (max-width: 600px) {
                width: 100%;

                padding: 5px 10px;
              }
            }
          }
        }
      }

      .Ilustracao {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;

        img {
          width: 100%;
        }
      }
    }
  }

  .ApresentacaoComentarios {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .ComentariosCont {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 80%;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }

      .MascoteTodoPoderoso {
        @media only screen and (max-width: 600px) {
          order: 1;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .Comentarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 30px;

        @media only screen and (max-width: 600px) {
          order: 0;

          align-items: start;
        }

        .Headline {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          gap: 30px;

          @media only screen and (max-width: 600px) {
            align-items: start;
            gap: 20px;
          }

          h1 {
            width: 655px;

            text-align: right;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 90.791%; /* 66.354px */

            background: radial-gradient(
              52.39% 371.74% at 50% 7.39%,
              #fff 0%,
              #999 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            z-index: 1;

            @media only screen and (max-width: 600px) {
              text-align: center;
              font-size: 26px;

              width: 100%;
            }
          }

          p {
            text-align: right;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 119.791%; /* 18.958px */

            background: radial-gradient(
              52.39% 371.74% at 50% 7.39%,
              #fff 0%,
              #999 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            z-index: 1;

            @media only screen and (max-width: 600px) {
              text-align: center;
              font-size: 14px;

              width: 100%;
            }
          }
        }

        .ComentariosContainer {
          display: flex;
          justify-content: start;

          padding-bottom: 30px;

          position: relative;

          .DotsContainer {
            position: absolute;
            bottom: -30px; /* Ajuste conforme necessário */
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
          }

          .Dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #3b254450;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
              background-color: #3b2544; /* A cor do dot ativo */
            }

            &:hover {
              background-color: #fff;
            }
          }

          .ConjuntoComentarios {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 30px;

            @media only screen and (max-width: 600px) {
              gap: 10px;
            }

            .BoxComentarios {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              align-self: stretch;
              gap: 20px;

              border: solid 1px #3b2544;
              border-radius: 10px;

              padding: 30px;

              @media only screen and (max-width: 600px) {
                padding: 20px;
              }

              .Estrelas {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                img {
                  width: 10px;
                }
              }

              .Usuario {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;

                .ImagemUsuario {
                  display: flex;

                  width: 30px;
                  height: 30px;

                  border: solid #ffffff 2px;
                  border-radius: 30px;

                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                span {
                  font-size: 20px;
                  color: #ffffff;

                  @media only screen and (max-width: 600px) {
                    font-size: 14px;
                  }
                }
              }

              .UsuarioComentario {
                width: 260px;

                @media only screen and (max-width: 600px) {
                  width: 100%;

                  order: 0;

                  align-items: start;
                }

                span {
                  font-size: 14px;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }

  .ApresentacaoCameoLover {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .CameoLoverCont {
      width: 80%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .CameoLoverInformacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;

        .Headline {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 40px;

          h1 {
            text-align: left;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 90.791%; /* 66.354px */

            background: radial-gradient(
              52.39% 371.74% at 50% 7.39%,
              #fff 0%,
              #999 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            z-index: 1;

            span {
              font-weight: bold;
            }

            @media only screen and (max-width: 600px) {
              font-size: 30px;
            }
          }

          p {
            width: 735px;

            text-align: left;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;

            color: #fff;

            z-index: 1;

            @media only screen and (max-width: 600px) {
              font-size: 14px;

              width: 100%;
            }
          }

          .subline {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            p {
              width: initial;

              font-family: Poppins;
              font-size: 16px;
              font-style: italic;
              font-weight: 200;
              line-height: 94.791%;

              color: #fff;

              z-index: 1;
            }
          }
        }

        .Avaliacao {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }

      .MascoteLover {
        @media only screen and (max-width: 600px) {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .ApresentacaoFooter {
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(
      89.31% 89.31% at 50% 139.31%,
      rgba(243, 20, 251, 0.1) 0%,
      rgba(243, 20, 251, 0) 100%
    );

    position: relative;

    .FooterCont {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 80%;

      position: relative;

      z-index: 1;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: start;
      }

      .FooterInformacoes {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 60px;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
        }

        .TodosOsBotoes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 50px;

          .SobreSocial {
            @media only screen and (max-width: 600px) {
              order: 1;
            }

            .BotaoSobre {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
              gap: 20px;

              h3 {
                color: #ffffff;

                font-size: 14px;
                font-weight: bold;

                opacity: 0.3;
              }

              .BotaoSobreBox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                border: solid 1px #ffffff;
                border-radius: 10px;

                padding: 10px 15px;

                transition: 0.2s;

                span {
                  color: #ffffff;
                  font-size: 16px;
                }

                img {
                  width: 7px;
                }

                &:hover {
                  gap: 15px;

                  border-radius: 0px;
                }
              }

              .Cta {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;

                @media only screen and (max-width: 600px) {
                  flex-direction: column;
                  align-items: start;
                }

                button {
                  color: #fff;
                  font-size: 18px;

                  height: 38px;

                  padding: 10px 20px;
                  justify-content: center;
                  align-items: center;

                  border: none;
                  border-radius: 10px;
                  background: linear-gradient(270deg, #2ba8e2 0%, #1af5eb 100%);
                  box-shadow: 0px 0px 20px 0px rgba(27, 244, 235, 0.2);

                  transition: 0.2s;

                  cursor: pointer;

                  &:hover {
                    border-radius: 0px;
                  }
                }
              }
            }
          }

          .socialMedia {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @media only screen and (max-width: 600px) {
              order: 0;
            }
          }
        }
      }

      .MascoteDeadpool {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          width: 100%;
          gap: 10px;
        }

        span {
          color: #ffffff;

          text-align: right;

          font-weight: bold;
          font-size: 34px;

          width: 220px;

          @media only screen and (max-width: 600px) {
            font-size: 20px;

            width: 120px;
          }
        }
      }
    }

    .FooterLogo {
      position: absolute;
      bottom: 0px;
      left: 0px;

      width: 100%;

      opacity: 0.5;

      img {
        width: 90%;

        opacity: 0.01;
      }
    }
  }
}
