.miniaturafilmes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .boxminiatura {
    position: relative;

    width: 70px;
    height: 100px;

    .capaminiatura {
      display: flex;
      justify-content: center;
      align-items: start;

      width: 70px;
      height: 100px;

      overflow: hidden;

      border-radius: 5px;

      img {
        width: 110%;
      }
    }

    button {
      position: absolute;
      top: -5px;
      right: -5px;

      display: flex;
      justify-content: center;
      align-items: center;

      background: #250d2f;
      border: #c92fac solid 1px;
      border-radius: 20px;

      width: 20px;
      height: 20px;

      z-index: 1;

      opacity: 0;
      transition: opacity 0.3s ease;

      img {
        width: 100%;
      }

      &.show {
        opacity: 1;
      }
    }
  }
}
