.sectionCard {
  width: 100%;

  background: var(--bg-overlay);
  border: 1px solid var(--stroke-base);
  border-radius: var(--space-lg);
  overflow: clip;

  @media only screen and (max-width: 768px) {
    width: 90%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);

    padding: var(--space-2xl);
    border-bottom: 1px solid var(--stroke-base);

    .info {
      display: flex;
      align-items: center;
      gap: var(--space-sm);

      .titleGroup {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
      }

      .title {
        font-size: 20px;
        color: var(--text-base);
      }

      .count {
        font-size: 20px;
        font-weight: bold;
        color: var(--text-base);
      }

      .avatars {
        display: flex;
        align-items: center;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: var(--space-sm);
    }
  }

  .content {
    display: flex;
    padding: var(--space-2xl);
  }
}
