main {
  .ContVerificacao {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cameo-67dc1.appspot.com/o/background%2Fbackground-cameo-login.png?alt=media&token=a0fe26ee-0631-45db-9140-14150c7d2034");
    background-color: #250d2f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    .verificacao {
      .modal {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          color: #fff;
        }
      }
    }
  }
}
