.container {
  display: flex;
  width: 100%;
  gap: var(--space-lg);

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    &:last-child {
      border-bottom: none;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      background: var(--bg-quintenario);
      border-radius: var(--space-sm);

      width: 40px;
      height: 40px;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
    }

    .label {
      font-size: 13px;
      color: var(--text-sub);
    }

    .value {
      font-size: 15px;
      color: var(--text-base);
    }
  }
}
