.contListas {
  .todasAsListas {
    margin-top: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .tituloLiastas {
      h3 {
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .listas {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }

  .baseBotoes {
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: linear-gradient(
      to bottom,
      rgba(37, 13, 47, 0) 0%,
      #250d2f 100%
    );

    .contBotaoSecundario {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 85%;
      height: 120px;
    }
  }
}
