.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
  background: var(--bg-overlay);
  border: 1px solid var(--stroke-base);
  border-radius: var(--space-md);
  padding: var(--space-lg);
}

.pills {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  overflow: hidden;
  scroll-behavior: smooth;
  flex: 1;
  min-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pill {
  flex-shrink: 0;
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  border: 1px solid var(--stroke-quaternary);
  background: none;
  color: var(--text-base);
  font-size: 16px;
  font-style: italic;
  font-family: var(--font-family-base);
  cursor: pointer;
  white-space: nowrap;
  transition:
    background 0.2s,
    border-color 0.2s;

  &.ativo {
    background: var(--bg-submit);
    border-color: var(--stroke-submit);
  }
}

.arrows {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-shrink: 0;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--space-md);
  cursor: pointer;
  transition:
    background 0.2s,
    border-color 0.2s;

  &.arrowInativo {
    width: 40px;
    height: 40px;
    background: var(--bg-quintenario);
    border: 1px solid var(--stroke-quaternary);
  }

  &.arrowAtivo {
    width: 50px;
    height: 50px;
    background: var(--bg-submit);
    border: 1px solid var(--stroke-submit);
  }
}

.chevronEsquerda {
  transform: rotate(90deg);
}

.chevronDireita {
  transform: rotate(-90deg);
}
