.contBotoes {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;

  @media only screen and (max-width: 1000px) {
    width: 100%;
  }

  .botoes {
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;

    overflow: hidden;

    scroll-behavior: smooth;
    transition: scroll-left 0.3s ease-in-out;

    @media only screen and (max-width: 600px) {
      overflow-y: scroll;
      overflow: auto;
    }

    /* width */
    &::-webkit-scrollbar {
      display: none;
    }

    .grupoFiltro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;

      span {
        color: #3b2544;
      }

      .grupoBotoes {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-bottom: 10px;
        margin-bottom: -10px;

        button {
          display: flex;

          background: none;
          border: solid 1px #3b2544;
          border-radius: 10px;

          padding: 20px;

          width: max-content;

          font-size: 20px;
          font-weight: 100;
          color: #ffffff;

          cursor: pointer;

          gap: 10px;

          flex-shrink: 0;
        }

        .ativo {
          background: #6a0dad;
          border: none;
        }
      }

      .controlesCarrossel {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        margin-top: 10px;

        button {
          background: none;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 6px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }

  .navBotoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      background: hsla(0, 0%, 100%, 0.063);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}
