.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--text-sub);
}

.inputRow {
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid var(--stroke-base);
  border-radius: var(--space-sm);
  transition: border-color 0.2s;
  background: var(--bg-overlay);
  overflow: hidden;

  &:hover,
  &:focus-within {
    border-color: var(--stroke-submit);
  }
}

.prefix {
  display: flex;
  align-items: center;
  padding-left: var(--space-sm);
  flex-shrink: 0;
}

.suffix {
  display: flex;
  align-items: center;
  padding-right: var(--space-sm);
  flex-shrink: 0;
}

.field {
  flex: 1;
  font-size: 1rem;
  font-family: inherit;
  font-style: italic;
  font-weight: 400;
  color: var(--text-sub);
  background: var(--bg-overlay);
  border: none;
  border-radius: var(--space-sm);
  padding-left: var(--space-md);
  outline: none;
  min-width: 0;
  height: 60px;

  &::placeholder {
    color: var(--text-sub);
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  // remove setas do input type=number
  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
