.menuBotoes {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);

    .botaoHome {
      @media only screen and (max-width: 1300px) {
        display: none;
      }
    }

    li {
      display: flex;

      a {
        color: var(--text-sub);
        font-size: 1rem;
        font-family: inherit;
        font-weight: 400;
        text-decoration: none;
        font-style: italic;
        transition: 0.2s;

        padding: var(--space-nn) var(--space-lg);

        height: var(--space-8xl);

        display: flex;
        align-items: center;

        &.active {
          color: var(--text-header);
        }
        &:hover {
          background: var(--bg-overlay);
          border-radius: var(--space-sm);
        }
      }
    }
  }
}
