.ContCriticas {
  margin-top: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @media only screen and (max-width: 600px) {
    gap: 30px;
  }

  .adicionarCritica {
    position: fixed;
    bottom: 50px;
    right: 50px;

    z-index: 9;

    @media only screen and (max-width: 600px) {
      bottom: 20px;
      right: 50%;

      width: 80%;

      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(50%);
    }

    button {
      background: linear-gradient(90deg, #1af5eb 0%, #2ba8e2 100%);
      border: none;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 20px 20px;

      font-weight: bold;
      font-size: 20px;
      color: #ffffff;

      transition: 0.2s;

      cursor: pointer;

      &:hover {
        border-radius: 0px;
      }

      @media only screen and (max-width: 600px) {
        font-size: 18px;

        width: 100%;
      }
    }
  }

  .ultimasECriticasNoticias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 80%;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 20px;

      width: 80%;
    }

    @media only screen and (max-width: 1650px) {
      gap: 20px;

      width: 80%;
    }

    .ultimasNoticias {
      width: 542px;
      overflow: hidden;

      @media only screen and (max-width: 1000px) {
        width: 100%;
      }

      .customWidth {
        width: 542px;

        @media only screen and (max-width: 1000px) {
          width: 100%;
        }
      }
    }

    .ultimasCriticas {
      width: 65%;
      overflow: hidden;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      .customWidth {
        width: 100%;
      }
    }
  }

  .tituloPagina {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 80%;

    span {
      font-size: 30px;
      font-weight: 400;

      color: #fff;

      @media only screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }

  .AddCritica {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 20px;

    width: 80%;

    @media only screen and (max-width: 1500px) {
      grid-template-columns: auto auto;
    }

    @media only screen and (max-width: 900px) {
      width: 80%;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: auto;

      margin-bottom: 90px;
    }

    .critica {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      border: solid 2px #3b2544;
      border-radius: 10px;

      width: 100%;

      @media only screen and (max-width: 900px) {
        width: 100%;
      }

      cursor: pointer;

      &:hover {
        .boxConteudo {
          .conteudo {
            .imagemContainer {
              img {
                width: 105%;

                opacity: 0.7;
              }
            }
          }
        }
      }

      .boxConteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        width: 95%;

        padding: 10px;

        @media only screen and (max-width: 900px) {
          width: 97%;
        }

        .cabecalho {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 20px;

          width: 100%;

          h1 {
            font-size: 24px;
            font-weight: bold;

            color: #fff;

            width: 100%;

            @media only screen and (max-width: 900px) {
              font-size: 18px;
            }
          }

          .data {
            display: flex;
          }

          .numeroCritica {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            font-style: italic;
            font-weight: bold;
            font-size: 16px;
            color: #9863ec;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }

        .conteudo {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;

          .imagemContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;

            overflow: hidden;
            max-height: 150px;

            img {
              width: 100%;

              transition: 0.2s;

              opacity: 1;

              @media only screen and (max-width: 600px) {
                width: 100%;
                height: initial;
              }
            }
          }
        }
      }
    }
  }
}
