.miniatura {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: var(--text-base);

  width: var(--space-5xl);
  height: var(--space-5xl);

  border-radius: var(--space-5xl);
  border: 1px solid var(--stroke-base);

}
