.detalhesFilmes {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 110%;

  animation: slideUp 0.3s ease-out;

  @keyframes slideUp {
    from {
      transform: translateY(5%);
    }
    to {
      transform: translateY(0);
    }
  }

  .informacoes {
    background: #250d2f;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 40px 0px;

    margin-bottom: 120px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 0px;
      left: 0px;

      background: linear-gradient(270deg, #fdf57c 0%, #f314fb 100%);

      width: 100%;
      height: 5px;
    }

    .tituloFilmes {
      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 1;

      .contTitulos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        width: 85%;

        .NotasFavoritos {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          a {
            text-decoration: none;

            display: flex;
            gap: 10px;

            .NotasLogin {
              display: flex;
              justify-content: center;
              align-items: center;

              background: white;
              border-radius: 5px;

              padding: 13px 15px;

              .avaliar {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                font-size: 14px;
                font-weight: 700;
                color: #250d2f;
              }
            }

            .FavoritarLogin {
              background: rgba(255, 255, 255, 0.062745098);
              border-radius: 5px;

              padding: 12px;

              display: flex;
              justify-content: center;
              align-items: center;

              cursor: pointer;
            }
          }
        }
      }
    }

    .infoFilmes {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      width: 100%;

      .detalhes {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;

        width: 85%;

        .producao {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          .produtora {
            display: flex;
            justify-content: center;
            align-items: center;

            border: solid #ffffff30 1px;
            border-radius: 5px;

            padding: 10px;

            p {
              font-size: 18px;
              color: white;
            }
          }
        }

        h3 {
          font-size: 24px;
          color: white;

          opacity: 0.3;

          margin: 0;
        }

        p {
          font-size: 18px;
          color: white;
        }
      }
    }

    .dublagem {
      display: flex;
      justify-content: center;

      width: 100%;

      position: relative;
    }

    .elencoGeral {
      background: #00000020;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      width: 100%;

      padding: 40px 0px;

      hr {
        width: 85%;
        height: 1px;

        background: white;

        border: none;

        opacity: 0.1;
      }
    }

    .recomendacoes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      width: 85%;

      h3 {
        font-size: 24px;
        color: white;

        opacity: 0.3;

        margin: 0;
      }

      .contRecomendacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .scrollRecomendacoes {
          display: flex;
          align-items: start;
          gap: 15px;

          width: 100%;

          overflow-x: scroll;

          /* width */
          &::-webkit-scrollbar {
            display: none;
          }

          .listaRecomendacoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            width: 100px;

            .fotoRecomendacoes {
              position: relative;
              width: 100px;
              height: 150px;

              border-radius: 5px;
              overflow: hidden;

              transition: 0.2s;

              .objectFit {
                object-fit: cover;

                width: 100%;
                height: 100%;
              }
            }

            span {
              font-size: 14px;
              font-weight: 200;

              text-align: left;

              color: white;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
