.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.bloco {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);

  background: var(--bg-overlay);
  border: solid 1px var(--stroke-base);
  border-radius: var(--space-lg);

  padding: var(--space-lg);
}

.deletarCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
  width: 100%;
  padding: var(--space-md) var(--space-lg);
  background: var(--bg-base);
  border: 1px solid var(--stroke-base);
  border-radius: var(--space-sm);
}

.deletarTexto {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  span {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-base);
    font-style: italic;
  }

  p {
    font-size: 0.75rem;
    color: var(--text-sub);
    font-style: italic;
    line-height: 1.4;
  }
}

.obrigatorio {
  color: var(--color-error);
  margin-left: 2px;
  font-style: italic;
}

.grupo {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.grupoLabel {
  font-size: 14px;
  font-style: italic;
  color: var(--text-sub);
}

.radios {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}
