.nomeServico {
  .contServicos {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background: #00000030;
    border-radius: 50px;

    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
