.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  padding: var(--space-lg);
  border-radius: var(--space-lg);
  border: 1px solid var(--stroke-base);
  background: var(--bg-base);

  width: 100%;
  cursor: pointer;

  .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-sm);
    width: 100%;

    .topoInfo {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);

      .titulo {
        font-size: 20px;
        font-style: italic;
        color: var(--text-base);
      }

      .quantidade {
        font-size: 12px;
        font-style: italic;
        color: var(--text-sub);
      }
    }

    .chevron {
      display: flex;
      flex-shrink: 0;
    }
  }

  .chart {
    display: flex;
    align-items: center;
    gap: 0;

    .percentualAtual {
      background: var(--primitive-rosa-01);
      border-radius: var(--space-5xl);

      width: 45px;
      height: 45px;

      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 1;

      span {
        font-size: 14px;
        font-style: italic;
        color: var(--text-base);
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0 var(--space-xs);
      }
    }

    .barra {
      flex: 1;
      height: 15px;
      background: var(--bg-quintenario);
      overflow: hidden;

      margin: 0px -2px;

      .progresso {
        height: 100%;
        border-radius: 0px 20px 20px 0px;
        transition: width 0.4s ease;
      }
    }
  }

  .percentualMax {
    background: var(--bg-quintenario);
    border-radius: var(--space-5xl);

    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;

    span {
      font-size: 14px;
      font-style: italic;
      color: var(--text-base);
      white-space: nowrap;
      flex-shrink: 0;
      padding: 0 var(--space-xs);
    }
  }

  .infos {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    font-style: italic;
    color: var(--text-base);
  }
}
