.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  padding: var(--space-lg);
  border-radius: var(--space-lg);
  border: 1px solid var(--stroke-base);
  background: var(--bg-base);

  width: 100%;
  cursor: pointer;

  .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-sm);
    width: 100%;

    .topoInfo {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);

      .titulo {
        font-size: 20px;
        font-style: italic;
        color: var(--text-base);
      }

      .quantidade {
        font-size: 12px;
        font-style: italic;
        color: var(--text-sub);
      }
    }

    .chevron {
      display: flex;
      flex-shrink: 0;
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);

    .percentuais {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      .percentualInicio,
      .percentualMax {
        font-size: 12px;
        font-style: italic;
        color: var(--text-sub);
      }
    }

    .barra {
      width: 100%;
      height: 20px;

      background: var(--bg-quintenario);
      border-radius: var(--space-lg);

      overflow: hidden;

      .progresso {
        height: 100%;
        min-width: 8%;

        border-radius: var(--space-lg);
        transition: width 0.4s ease;

        position: relative;

        @media only screen and (max-width: 768px) {
          min-width: 10%;
        }

        .percentualAtual {
          position: absolute;
          top: 1px;
          right: 1px;

          background: var(--bg-overlay);
          border-radius: var(--space-5xl);

          height: 18px;

          padding: var(--space-nn) var(--space-xs);

          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 12px;
            font-style: italic;
            font-weight: bold;
            color: var(--text-base);
          }
        }
      }
    }
  }

  .infos {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    font-style: italic;
    color: var(--text-base);
  }
}
