.page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 85%;
  margin-inline: auto;
  font-style: italic;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-top: 30%;
  }

  .metas {
    width: 90%;
  }
}
