.contCapa {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 600px;

  overflow: hidden;

  animation: slideUp 1.5s ease-out;

  @keyframes slideUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .play {
    position: absolute;

    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
  }

  .capaAssistidos {
    width: 100%;

    display: flex;
    justify-content: center;

    transition: 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(
        to top,
        rgba(#000000, 0%),
        rgba(#000000, 100%)
      );
      opacity: 0.5;
    }

    .imageContainer {
      position: relative; // Necessário para o layout fill funcionar
      width: 100%; // A imagem ocupará 100% da largura do contêiner
      height: 580px; // Defina uma altura desejada, ou use uma unidade relativa como vh
      // Exemplo de altura

      transition: 0.2s;
    }
  }
}
