.ContGraficosGeneros {
  display: flex;
  justify-content: center;

  width: 100%;

  border: solid #ffffff50 1px;
  border-radius: 20px;

  overflow: hidden;

  @media only screen and (min-width: 600px) {
    background: linear-gradient(
        0deg,
        rgba(31, 9, 40, 0.4) 0%,
        rgba(31, 9, 40, 0.4) 100%
      ),
      rgba(255, 255, 255, 0.1);

    padding-bottom: 10px;
  }

  @media only screen and (max-width: 600px) {
    border: none;
  }

  .GraficosGeneros {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    z-index: 1;

    .headerGrafico {
      width: 450px;
      height: 95px;

      background-image: url("https://firebasestorage.googleapis.com/v0/b/cameo-67dc1.appspot.com/o/background%2FBG-metas.jpg?alt=media&token=2a9f9d2d-da14-4b06-908a-5214e8668aec");
      background-color: #250d2f;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 18px;
        font-weight: bold;

        color: #ffffff;

        width: 90%;
      }
    }

    .ContGraficos {
      display: flex;
      align-items: center;
      gap: 10px;

      width: 400px;

      z-index: 1;

      overflow-x: scroll;

      @media only screen and (max-width: 600px) {
        width: 340px;

        /* width */
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .BoxtGraficos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        height: 150px;

        padding: 20px 0px;

        .quantidadePercentual {
          span {
            color: #fff;
            font-size: 10px;

            opacity: 0.8;
            margin: 0;
            padding: 0;
          }
        }

        .BarraGenero {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 50px;
          min-height: 1px;

          background: #2ba8e2;
          border-radius: 10px;

          animation: graph 1s forwards ease-in-out;

          overflow: hidden;

          @keyframes graph {
            0% {
              height: 0;
            }
          }

          img {
            width: 100%;
          }
        }

        .GeneroFilmes {
          display: flex;

          span {
            width: 45px;

            color: #fff;
            font-size: 10px;

            opacity: 0.5;
            margin: 0;
            padding: 0;

            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
