.container {
  margin-top: 10%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  .detalhesFilmes {
    width: 85%;
    min-height: 200px;

    .tituloFilmes {
      .posterTrailer {
        aspect-ratio: 16/9;
        width: 267px;
        height: 150px;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        border-radius: 10px;

        transition: 0.2s;

        &:hover {
          .posterFilme {
            img {
              opacity: 0.5;
            }
          }
        }

        .posterFilme {
          aspect-ratio: 2/3;
          width: 267px;
          height: 150px;

          transition: 0.2s;

          img {
            width: 267px;
            height: 150px;

            transition: 0.2s;
          }
        }

        .botaoTrailer {
          position: absolute;

          z-index: 1;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          height: 150px;
        }
      }
    }
  }
}
