.container {
  margin-top: 10%;

  display: flex;
  justify-content: center;

  .detalhesFilmes {
    width: 85%;

    .topoFilmes {
      display: flex;
      align-items: center;
      gap: 30px;

      .posterTrailer {
        width: 267px;
        height: 150px;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        border-radius: 10px;

        transition: 0.2s;

        &:hover {
          .posterFilme {
            img {
              opacity: 0.5;
            }
          }
        }

        .posterFilme {
          width: 267px;
          height: 150px;

          transition: 0.2s;

          img {
            width: 267px;
            height: 150px;

            transition: 0.2s;
          }
        }

        .botaoTrailer {
          position: absolute;

          z-index: 1;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          height: 150px;
        }
      }

      .detalhesTopo {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .tituloFilmes {
          h1 {
            font-size: 35px;
            font-weight: 500;
            color: #fff;
            text-align: left;
          }
        }
      }
    }
  }
}
