.ContSobre {
  .SobreHero {
    margin-top: 130px;

    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px 0px;
    }

    .SobreHeroBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @media only screen and (max-width: 600px) {
        align-items: start;

        gap: 30px;
      }

      .Headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          align-items: start;
          gap: 30px;

          padding: 0px 40px;
        }
        h1 {
          color: #fff;
          text-align: center;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: 100px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;

          @media only screen and (max-width: 600px) {
            font-size: 30px;
          }
        }

        .Separador {
          width: 220px;
          height: 4px;

          background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);

          border: none;
        }
      }

      .SobreVaral {
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 600px) {
          width: 100%;

          overflow: hidden;
        }

        img {
          width: 100%;

          @media only screen and (max-width: 600px) {
            width: 800px;
          }
        }
      }
    }
  }

  .Historia {
    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .HistoriaBox {
      display: flex;
      justify-content: space-between;
      align-items: start;

      @media only screen and (max-width: 600px) {
        flex-direction: column;

        gap: 80px;
      }

      .Titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          gap: 30px;
        }

        h1 {
          color: #fff;
          text-align: left;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: 100px;
          font-style: normal;
          font-weight: 900;
          line-height: 70px;

          @media only screen and (max-width: 600px) {
            font-size: 30px;

            line-height: 100%;
          }
        }

        .Separador {
          width: 220px;
          height: 4px;

          background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);

          border: none;
        }
      }

      .SobreParagrafo {
        p {
          width: 700px;
          font-size: 30px;
          opacity: 0.5;
          color: #ffffff;

          @media only screen and (max-width: 600px) {
            width: 100%;

            font-size: 24px;
          }

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .Fotos {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .FotosBox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      img {
        border-radius: 10px;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .ComoComecou {
    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .ComoComecouBox {
      display: flex;
      justify-content: space-between;
      align-items: start;

      @media only screen and (max-width: 600px) {
        flex-direction: column;

        gap: 80px;
      }

      .Titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          align-items: start;

          order: 0;

          gap: 30px;
        }

        h1 {
          color: #fff;
          text-align: right;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: 100px;
          font-style: normal;
          font-weight: 900;
          line-height: 70px;

          @media only screen and (max-width: 600px) {
            font-size: 30px;
            text-align: left;

            line-height: 100%;
          }
        }

        .Separador {
          width: 221px;
          height: 4px;

          background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);

          border: none;
        }
      }

      .ComoComecouParagrafo {
        @media only screen and (max-width: 600px) {
          order: 1;
        }

        p {
          width: 700px;
          font-size: 30px;
          opacity: 0.5;
          color: #ffffff;

          span {
            font-weight: bold;
          }

          @media only screen and (max-width: 600px) {
            width: 100%;

            font-size: 24px;
          }
        }
      }

      .ImagemTime {
        width: 100%;

        order: 2;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }

  .Evolucao {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .EvolucaoBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      img {
        width: 100%;
      }

      .EvolucaoParagrafo {
        p {
          font-size: 30px;
          opacity: 0.5;
          color: #ffffff;

          @media only screen and (max-width: 600px) {
            font-size: 24px;
          }

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .Missao {
    padding: 100px;

    position: relative;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .MissaoBox {
      display: flex;
      justify-content: end;
      align-items: center;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .MissaoImagem {
        position: absolute;
        top: 0;
        left: 0px;

        align-self: stretch;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 550px;

        @media only screen and (max-width: 600px) {
          position: initial;

          order: 1;

          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      .MissaoParagrafo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          align-items: start;

          order: 0;

          gap: 80px;
        }

        .Titulo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          gap: 50px;

          @media only screen and (max-width: 600px) {
            align-items: start;

            gap: 20px;
          }

          h1 {
            color: #fff;
            text-align: right;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 100px;
            font-style: normal;
            font-weight: 900;
            line-height: 70px;

            @media only screen and (max-width: 600px) {
              font-size: 30px;

              text-align: left;
            }
          }

          .Separador {
            width: 221px;
            height: 4px;

            background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);

            border: none;
          }
        }

        .MissaoTexto {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          gap: 20px;
        }

        p {
          width: 700px;
          font-size: 30px;
          opacity: 0.5;
          color: #ffffff;
          text-align: right;

          span {
            font-weight: bold;
          }

          i {
            font-style: italic;
          }

          @media only screen and (max-width: 600px) {
            font-size: 24px;

            width: 100%;

            text-align: left;
          }
        }

        hr {
          width: 100%;
          opacity: 0.3;
        }
      }
    }
  }

  .MissaoImagemMobile {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .ParagrafoSobre {
    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    .ParagrafoSobreBox {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 30px;
        opacity: 0.5;
        color: #ffffff;
        text-align: center;

        @media only screen and (max-width: 600px) {
          font-size: 24px;

          text-align: left;
        }

        span {
          font-weight: bold;
        }
      }
    }
  }

  .NossoTime {
    padding: 100px;

    @media only screen and (max-width: 600px) {
      padding: 40px 40px 100px 40px;
    }

    .NossoTimeBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @media only screen and (max-width: 600px) {
        align-items: start;
      }

      .NossoTimeTitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          align-items: start;

          gap: 20px;
        }

        h1 {
          color: #fff;
          text-align: center;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: 100px;
          font-style: normal;
          font-weight: 900;
          line-height: 70px;

          @media only screen and (max-width: 600px) {
            font-size: 30px;

            text-align: left;
          }
        }

        .Separador {
          width: 221px;
          height: 4px;

          background: linear-gradient(90deg, #f314fb 0%, #fdf57c 100%);

          border: none;
        }
      }

      .NossoTimeEquipe {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;

        @media only screen and (max-width: 600px) {
          flex-direction: column;

          gap: 50px;
        }

        .NossoTimeEquipeBox {
          display: flex;
          justify-content: center;
          align-items: center;

          position: relative;

          @media only screen and (max-width: 600px) {
            width: 100%;
          }

          .TentaculoA {
            position: absolute;
            top: 70px;
            left: -85px;

            @media only screen and (max-width: 600px) {
              width: 77px;

              top: 60px;
              left: -5px;

              img {
                width: 100%;
              }
            }
          }

          .TentaculoB {
            position: absolute;
            top: 30px;
            right: -90px;
            width: 90px;

            img {
              width: 100%;
            }

            @media only screen and (max-width: 600px) {
              width: 48px;
              right: 0px;

              img {
                width: 100%;
              }
            }
          }

          .DetalhesEquipe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;

            width: 100%;

            .FotoGradiente {
              background: var(
                --Gradiente---Boto-Primario,
                linear-gradient(270deg, #2ba8e2 0%, #1af5eb 100%)
              );

              padding: 5px;

              border-radius: 50px;

              overflow: hidden;

              .Foto {
                width: 290px;
                height: 290px;

                border-radius: 45px;

                overflow: hidden;

                @media only screen and (max-width: 600px) {
                  width: 190px;
                  height: 190px;
                }

                img {
                  width: 100%;
                }
              }
            }

            .Nome {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;

              width: 100%;

              h3 {
                font-size: 30px;
                color: #ffffff;
              }

              span {
                font-size: 26px;
                color: #ffffff;

                opacity: 0.5;

                @media only screen and (max-width: 600px) {
                  width: 100%;

                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .ApresentacaoFooter {
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(
      89.31% 89.31% at 50% 139.31%,
      rgba(243, 20, 251, 0.1) 0%,
      rgba(243, 20, 251, 0) 100%
    );

    position: relative;

    a {
      text-decoration: none;
    }

    .FooterCont {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 80%;

      position: relative;

      z-index: 1;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: start;
      }

      .FooterInformacoes {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 60px;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
        }

        .TodosOsBotoes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 50px;

          .SobreSocial {
            @media only screen and (max-width: 600px) {
              order: 1;
            }

            .BotaoSobre {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;
              gap: 20px;

              h3 {
                color: #ffffff;

                font-size: 14px;
                font-weight: bold;

                opacity: 0.3;
              }

              .BotaoSobreBox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                border: solid 1px #ffffff;
                border-radius: 10px;

                padding: 10px 15px;

                transition: 0.2s;

                span {
                  color: #ffffff;
                  font-size: 16px;
                }

                img {
                  width: 7px;
                }

                &:hover {
                  gap: 15px;

                  border-radius: 0px;
                }
              }

              .Cta {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;

                @media only screen and (max-width: 600px) {
                  flex-direction: column;
                  align-items: start;
                }

                button {
                  color: #fff;
                  font-size: 18px;

                  height: 38px;

                  padding: 10px 20px;
                  justify-content: center;
                  align-items: center;

                  border: none;
                  border-radius: 10px;
                  background: linear-gradient(270deg, #2ba8e2 0%, #1af5eb 100%);
                  box-shadow: 0px 0px 20px 0px rgba(27, 244, 235, 0.2);

                  transition: 0.2s;

                  cursor: pointer;

                  &:hover {
                    border-radius: 0px;
                  }
                }
              }
            }
          }

          .socialMedia {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @media only screen and (max-width: 600px) {
              order: 0;
            }
          }
        }
      }

      .MascoteDeadpool {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 600px) {
          width: 100%;
          gap: 10px;
        }

        span {
          color: #ffffff;

          text-align: right;

          font-weight: bold;
          font-size: 34px;

          width: 220px;

          @media only screen and (max-width: 600px) {
            font-size: 20px;

            width: 120px;
          }
        }
      }
    }

    .FooterLogo {
      position: absolute;
      bottom: 0px;
      left: 0px;

      width: 100%;

      opacity: 0.5;

      img {
        width: 90%;

        opacity: 0.01;
      }
    }
  }
}
