.sinopse {
  display: flex;
  justify-content: start;

  width: 100%;

  .contSinopse {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    h3 {
      font-size: 24px;
      color: white;

      opacity: 0.3;
    }

    .sinopseCompleta {
      width: 940px;

      @media only screen and (max-width: 600px) {
        background: #ffffff20;
        border-radius: 10px;

        padding: 15px;

        width: auto;
      }

      p {
        font-size: 16px;
        font-weight: 300;

        color: white;

        line-height: 24px;

        opacity: 0.5;

        @media only screen and (max-width: 600px) {
          font-weight: 200;
        }
      }
    }
  }
}
