.favoritarFilme {
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.062745098);
    border: none;
    border-radius: 10px;

    width: 47px;
    height: 47px;

    @media only screen and (min-width: 600px) {
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        border-radius: 0px;
      }
    }
  }
}
