.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-2xl);

  width: 100%;

  @media only screen and (max-width: 600px) {
    order: 6;

    width: 90%;
  }

  h2 {
    font-size: 24px;
    color: #fff;
    opacity: 0.3;
    margin: 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);

    .item {
      display: flex;
      justify-content: start;
      align-items: end;

      background: var(--bg-base);
      border-radius: var(--space-sm);
      border: solid 1px var(--stroke-base);
      padding: var(--space-md);

      span {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        color: var(--text-base);
      }
    }
  }
}
