.titulolistagem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  z-index: 1;

  .quantidade {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      margin: 0px;
      padding: 0px;
    }

    .contagem {
      font-size: 20px;
      color: white;

      padding: 15px 20px;

      background: #ffffff20;
      border-radius: 10px;

      @media only screen and (max-width: 600px) {
        font-size: 14px;

        padding: 5px 8px;

        border-radius: 6px;
      }
    }

    .tituloPagina {
      font-size: 30px;
      color: white;

      @media only screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }

  .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .filtros {
      @media only screen and (min-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        background: #ffffff20;

        border-radius: 10px;

        transition: 0.2s;

        cursor: pointer;

        &:hover {
          padding: 20px 22px;

          border-radius: 0px;
        }
      }

      img {
        width: 24px;
      }

      @media only screen and (max-width: 600px) {
        padding: 5px;

        border-radius: 5px;
      }
    }
  }
}
