.ContGraficosDatas {
  display: flex;
  justify-content: center;

  background: linear-gradient(
      0deg,
      rgba(31, 9, 40, 0.4) 0%,
      rgba(31, 9, 40, 0.4) 100%
    ),
    rgba(255, 255, 255, 0.1);

  padding: 20px;

  border: solid #ffffff50 1px;
  border-radius: 20px;

  width: 500px;

  .GraficosDatas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;

    width: 100%;

    .headerGrafico {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      h1 {
        font-size: 14px;

        color: #ffffff;

        opacity: 0.5;
      }

      button {
        background: #ffffff20;
        border-radius: 50px;
        border: none;

        width: 150px;
        height: 40px;
        transition: 0.2s;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        cursor: pointer;

        @media only screen and (max-width: 600px) {
          width: 85%;
        }

        &:hover {
          background: #ffffff30;

          width: 155px;

          img {
            opacity: 1;
          }
        }

        img {
          width: 15px;

          opacity: 0.5;

          transition: 0.2s;
        }

        p {
          font-size: 14px;

          color: #ffffff;
        }
      }
    }

    .RelacaoMes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      width: 100%;

      .mes {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        .data {
          width: 40px;
        }

        span {
          font-size: 20px;

          color: #fff;

          opacity: 0.5;
        }

        .contPercentualGrafico {
          width: 365px;
          height: 12px;

          border-radius: 30px;

          overflow: hidden;

          .percentualGrafico {
            height: 12px;

            background: #2ba8e2;

            border-radius: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;

            img {
              transform: rotate(90deg);

              width: 100px;
            }
          }
        }
      }
    }
  }
}
