.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4xl);
}

.descricao {
  height: 24px;
  display: flex;
  justify-content: center;

  span {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-base);
  }
}

.estrelas {
  display: flex;
  justify-content: center;
  gap: var(--space-1xl);

  @media (max-width: 600px) {
    width: 100%;
  }
}

.estrela {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.12);
  }
}

.conteudoAvaliacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);

  width: 100%;

  .textarea {
    width: 100%;
    height: 150px;
    background: var(--bg-overlay);
    border: 1px solid var(--stroke-base);
    border-radius: var(--space-lg);
    padding: var(--space-2xl);

    color: var(--text-base);
    font-size: 15px;
    resize: none;

    &::placeholder {
      color: var(--text-sub);
    }
  }

  .secaoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);

    background: var(--bg-overlay);
    border: 1px solid var(--stroke-base);
    border-radius: var(--space-lg);
    padding: var(--space-2xl);

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }

    .secaoCardTitulo {
      font-size: 15px;
      font-weight: 400;
      color: var(--text-base);
    }

    .radioGroup {
      display: flex;
      gap: var(--space-sm);
    }

    .inputData {
      background: none;
      border: 1px solid var(--stroke-base);
      border-radius: var(--space-sm);
      padding: var(--space-xs) var(--space-sm);
      color: var(--text-base);
      font-size: 14px;
      cursor: pointer;

      &::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        cursor: pointer;
      }
    }
  }
}
