.modal {
  position: fixed;

  background: #1f0928;
  border: solid rgba(255, 255, 255, 0.3137254902) 1px;
  border-radius: 15px;

  overflow: hidden;

  animation: OpenUp 0.3s ease-out;
  animation-fill-mode: forwards;

  z-index: 1;

  @media only screen and (min-width: 600px) {
    top: 39%;
    left: 25%;
    transform: translate(-50%, -50%) scale(1);

    background: #1f0928;
    border-radius: 30px;
    border: solid #ffffff50 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 912px;

    @keyframes OpenUp {
      from {
        opacity: 0;
        transform: scale(1.1);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;

    bottom: 0px;
    left: 0px;

    border: none;
    border-radius: 15px 15px 0px 0px;

    @keyframes OpenUp {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 100%;

    .botoesModal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      width: 80%;
      padding: 40px 0px;

      .tituloModal {
        display: flex;
        justify-content: center;
        position: relative;

        .tituloFilme {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          h2 {
            font-size: 16px;
            font-weight: bold;
            color: white;
            text-align: center;
          }

          span {
            color: #fff;
            font-size: 18px;
            font-weight: 100;
          }
        }

        button {
          position: absolute;
          right: 0;
          top: -5px;
          width: 30px;
          height: 30px;
          background: none;
          border: none;
          cursor: pointer;
        }
      }

      .contBotoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .cancelar {
          display: flex;
          justify-content: center;
          align-items: center;

          background: #ffffff20;
          border-radius: 10px;

          padding: 0px 15px;

          height: 50px;

          transition: 0.2s;

          cursor: pointer;

          span {
            color: white;
          }

          @media only screen and (min-width: 600px) {
            &:hover {
              padding: 0px 20px;

              border-radius: 0px;
            }
          }
        }

        .confirmar {
          display: flex;
          justify-content: center;
          align-items: center;

          border: solid #ffffff30 1px;
          border-radius: 10px;

          padding: 0px 15px;

          height: 50px;

          transition: 0.2s;

          cursor: pointer;

          span {
            color: white;
          }

          &:hover {
            padding: 0px 20px;

            border-radius: 0px;
          }
        }
      }
    }
  }
}
