.avaliarFilme {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 10px;

  width: 135px;
  height: 45px;

  @media only screen and (min-width: 600px) {
    transition: 0.2s;

    &:hover {
      border-radius: 0px;
    }
  }

  .avaliar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #250d2f;
  }
}
