.avaliacao {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 85%;

  .tituloAvaliacao {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;

    position: relative;

    &::after {
      content: "";

      background: #fedc33;
      border-radius: 3px;

      position: absolute;
      top: 5px;
      left: 0;

      width: 3px;
      height: 15px;
    }

    h3 {
      font-size: 24px;
      color: white;

      opacity: 0.3;

      margin-left: 15px;
    }

    p {
      font-size: 24px;
      color: white;
    }
  }

  .avaliacaoCompleta {
    width: 100%;

    font-size: 18px;
    font-weight: 300;
    color: white;
    line-height: 28px;

    opacity: 0.5;
  }
}
