.titulosFilmes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  h1 {
    font-size: 24px;
    font-weight: 300;
    color: white;

    text-align: center;
  }

  .generoDuracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    .todosOsGeneros {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 10px;

      .genero {
        display: flex;
        justify-content: center;
        align-items: center;

        border: solid #ffffff30 1px;
        border-radius: 5px;

        padding: 5px;

        span {
          font-size: 14px;
          font-weight: 200;
          color: white;

          text-align: center;
        }
      }
    }

    span {
      font-size: 14px;
      font-weight: 200;
      color: white;

      text-align: center;
    }
  }
}
