.nomeUsuario
{
    .nome
    {
        background: linear-gradient(90deg, #F314FB 0%, #FDF57C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1
    {
        font-size: 40px;
    }
}